<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark unique-color fixed-top" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a routerLink=""  class="navbar-brand" href="#">SouJunior</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link waves-light" mdbWavesEffect ><mdb-icon fas icon="user-alt"></mdb-icon> Entrar<span class="sr-only">(current)</span></a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          <mdb-icon fas icon="user"></mdb-icon> Cadastrar<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="createEmpresaJr"> Empresa JR</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="createMicroEmpresa"> Micro-Empresa</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="createAluno"> Estudante</a>
        </div>
      </li>

    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
